{% extends 'base2.html' %}



{% block auth %}

{% if request.user.is_authenticated %}



<h5><a href="">You are signed in as {{request.user}}</a></h5>

{% else %}

{% if messages %}
<center>
<ul class="messages">
    {% for message in messages %}
    <li style="color:lightgreen; font-size: small; list-style: none;" {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message|capfirst}}</li>
    {% endfor %}
</ul>
</center>
{% endif %}

<form id="formauth" method="post">
    <center><h3>Login  <center>
    </center></h3></center>

<fieldset>
    {% csrf_token %}
  {{f}}
</fieldset>
<button type ="submit" class="bttn" id="logN">Login <i class="fa fa-sign-in"></i></button>
<h6>Don't have account click<a href=""> Here </a></h6>
<h6 onclick="">Forgot password? Click<a href="" onclick="alert('process has been remove by admin')"> here</a></h6>

</form>

<div class="wrapper col7">
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Newserific.com</a></p>
      <p class="fl_right">@<a target="_blank" href="http://www.os-templates.com/"
          title="Free Website Templates">DoctorCode</a></p>
      <br class="clear" />
    </div>
  </div>

 
{% endif %}
    

{% endblock %}