
{% extends 'base2.html' %}





{% block auth %}

<form id="formauth" action="">

{{form}}

<button class="bttn">Register Me</button>
</form>


<div class="wrapper col7">
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Newserific.com</a></p>
      <p class="fl_right">@<a target="_blank" href="http://www.os-templates.com/"
          title="Free Website Templates">DoctorCode</a></p>
      <br class="clear" />
    </div>
  </div>
{% endblock %}