
{% extends 'base.html' %}


{% block post %}
<center>
<div id="hpage_latestE">
  {% for x in post %}
  <div>
      <ul>
          <li>
              <img  style="object-fit: cover;" src="{{ x.image.url }}" alt="" />
              <p>{{ x.title }}</p>
              <p class="para">{{ x.discriptions|truncatechars:150 }}</p>
              <p class="readmore"><a href="{% url 'readmore' x.slug %}">Continue Reading &raquo;</a></p>
          </li>
      </ul>
      <br class="clear" />
    </div>
{% empty %}
<center>
  <div class="gallery">
    <h2>nothin found on {{elements}}</h2>
    </div>
</center>

    {% endfor %}
  </div>
</center>
  <center>
    <div style="
    padding:10px;
    width: 60%;
    background-color: black;
    " class="pagination-links">
      {% if post.has_previous %}
          <a href="?page=1">&laquo; First</a>
          <a href="?page={{ post.previous_page_number }}">Previous Page</a>
      {% endif %}
      <span>
          Page {{ post.number }} of {{ post.paginator.num_pages }}.
      </span>
      {% if post.has_next %}
          <a href="?page={{ post.next_page_number }}">Next</a>
          <a href="?page={{ post.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
  </div>
  <div class="wrapper col7">
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Newserific.com</a></p>
      <p class="fl_right">@<a target="_blank" href="http://www.os-templates.com/"
          title="Free Website Templates">DoctorCode</a></p>
      <br class="clear" />
    </div>
  </div>
  

  {% endblock %}
  {% block data %}

  {% endblock %}



