
{% autoescape off %}


<img src="/Users/apple/python_env/closa/Media/extra_imag2/closa_bg1.jpg" alt="logo"/>


Do Not Reply
Hello,
We received a request to reset the password for your account for this email address. 
To initiate the password reset process for your account, click the link below.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and request another reset.

If you did not make this request, you can simply ignore this email.

Sincerely Closa Team,
closa shops

<H1> Read Terms And Condiction of Usage</h1>
    <p>1. Registration and Accounts
    1.1. Only registered users can buy and sell products on our app.
    1.2. You must provide accurate and complete information during registration.
    1.3. You must keep your account information, including your password, confidential.
    1.4. You are responsible for all activities that occur under your account.

2. Buying and Selling
    2.1. You must be at least 18 years old to buy and sell products on our app.
    2.2. You are responsible for complying with all applicable laws and regulations regarding buying and selling products.
    2.3. You are responsible for the accuracy of all information you provide regarding your products for sale or purchase, including product descriptions, prices, shipping information, and availability.
    2.4. You must not engage in any fraudulent or deceptive practices in buying or selling products on our app.
    2.5. We reserve the right to remove any listing or suspend any account that violates these terms and conditions.

3. Payment and Fees
    3.1. Buyers are responsible for paying the full cost of the products they purchase on our app, including applicable taxes and shipping fees.
    3.2. Sellers are responsible for paying any applicable fees associated with selling products on our app, such as commission fees or payment processing fees.
    3.3. We reserve the right to change our fees and payment policies at any time and will provide notice on our app of any changes.

4. Intellectual Property
    4.1. All content on our app, including text, graphics, logos, and images, is the intellectual property of the app and is protected by relevant intellectual property laws. You may not use, copy, or reproduce any content on our app without our express written permission.

5. User Content
    5.1. You may submit user-generated content, such as reviews or comments, on our app. By submitting user-generated content, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, modify, publish, and distribute that content in any form or medium.
    5.2. You represent and warrant that any user-generated content you submit does not infringe on the intellectual property or other rights of any third party and is not defamatory, obscene, or otherwise unlawful.

6. Disputes
    6.1. Any disputes between buyers and sellers must be resolved between the parties involved. We are not responsible for resolving or mediating disputes between users of our app.
    6.2. We reserve theright to suspend or terminate any user account involved in a dispute or in violation of our terms and conditions.

7. Termination
    7.1. You may terminate your use of our app at any time by closing your account and discontinuing your use of our services.
    7.2. We reserve the right to terminate or suspend your account at any time and without notice if you violate our terms and conditions or engage in fraudulent or malicious activity on our app.

8. Disclaimer
    8.1. Our app is provided on an "as is" and "as available" basis without warranties of any kind, express or implied.
    8.2. We do not guarantee the accuracy, completeness or reliability of any content on our app or the suitability or quality of any products sold on our app.
    8.3. You use our app at your own risk and we are not responsible for any damage, loss, or harm that may result from your use of our app, including but not limited to, physical damage, loss of data, or financial losses.

9. Indemnification
    9.1. You agree to indemnify, defend, and hold us harmless from and against any and all claims, liabilities, damages, losses, or expenses (including attorneys' fees and costs) arising out of or in connection with your use of our app or your violation of these terms and conditions.

10. Governing Law
    10.1. These terms and conditions are governed by and construed in accordance with the laws of the jurisdiction in which the app is registered, without giving effect to any principles of conflicts of law.
    10.2. Any dispute arising from or related to these terms and conditions shall be resolved exclusively in the courts located in the jurisdiction in which the app is registered.

11. Changes to Terms and Conditions
    11.1. We reserve the right to modify these terms and conditions at any time'
    
</p>

Thank you for choosen Closa

Click here for help?


{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% endautoescape %}