



{% extends 'base2.html' %}
{% load static %}




{% block caster %}


<div class="viewR">
    <center>
       
<img src="{{image}}" />
<div class="watch">
    <p>Watch trailler</p>
    <p><a href="{{download}}">download Here</a></p>
    <iframe src="{{find_p}}" allowfullscreen />
</div>

</div>



<div class="wrapper col7">
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Newserific.com</a></p>
      <p class="fl_right">@<a target="_blank" href="http://www.os-templates.com/"
          title="Free Website Templates">DoctorCode</a></p>
      <br class="clear" />
    </div>
</center>
  </div>


{% endblock %}




